
/*.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}*/
/*.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px; 
    width: 1158px;

}*/
/*.header{
   border-bottom: 1px solid #E7E9FC; 
   box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);}*/

/*.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
   text-transform: uppercase;
color: #4d5ae5;

}
.logo-studio{
    color: #2e2f42;
}*/

/*.navigation{
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;

}*/


/*.navigation .nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
 
}*/

/*.nav-link.active::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/



/*.section{
    padding-top: 120px;
    padding-bottom: 120px;
}*/

/*.hero-banner{
    background-color: #2e2f42;
    max-width: 1440px;
    padding: 188px 0;
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-banner.jpg);
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
margin: 0 auto;
}*/

/*.hero-banner-title{font-size: 56px;
line-height: 1.07;
max-width: 496px;
margin-bottom: 48px;
}
*/





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0; }
   
    /*.benefits-list{
flex-direction: row;
gap: 24px;
    }*/

 /*.benefits-list-item{
    width: calc((100% - 72px) / 4);
 }*/
/*.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}*/
/*.benefits-text{
width: 264px;
font-weight: ;
}*/




/*.team-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}*/
/*.team-member-photo{

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}*/

/*.products-list{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}*/

/*.products-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    cursor: pointer; 
}
.products-list-item img {
    width: 100%;
    height: auto;
}*/

/*.footer{
background-color: #2e2f42;
padding: 100px 0;
display: flex;
justify-content: space-between;
}*/


/*.footer-container{
    align-items: baseline;
    margin-right: 60px;
    margin-left: 141px;
}*/
/*.logo-footer-container{
width: 288px;
}*/



/*.container-icon-benefit{
border: 1px solid #8E8F99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #F4F4FD;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 100px;
margin-bottom: 8px;
}*/



    /*.footer-form {
    gap: 24px;
    }*/
/*
    .input-footer{
        width: 264px;

    }*/


    
    /*.subscribe-btn {   
    min-width: 165px;
}*/


/*.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
   width: 408px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    min-height: 584px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*
.input-wrapper {

  width: 360px;
}*/

